#{extends 'main.html' /}
#{set title:'dbtest - About' /}

<div class="grid_8">
    <h2>About dbtest</h2>
    <p>
        dbtest is speed comparison test between MongoDB hosted at MongoHQ and
        Xeround's MySQL-like cloud-hosted database.  The speed comparison only
        does inserts.
    </p>
    <p>Eventually the code will be hosted at
    <a target="_new"  href="http://github.com">GitHub</a>.</p>

    <h2>Results</h2>
    <p>Some results will go here. Don't wait for these results.
    Test out the speed for yourself. </p>

    <h2>About Ryan Swanstrom</h2>
    <p>
        There is a lot of important stuff to go here.
    </p>
    <h2>Special Thanks</h2>
    <ul>
        <li><a href="http://xeround.com">Xeround</a> - For providing the
            MySQL-like cloud hosting</li>
        <li><a target="_new"  href="http://mongohq.com">MongoHQ</a> - For providing the MongoDB
            cloud hosting</li>
        <li><a target="_new"  href="http://www.freecsstemplates.org/">Free CSS Templates</a> - For
            providing the website template</li>
        <li><a target="_new"  href="http://www.stax.net">Stax</a> now
            <a target="_new"  href="http://www.cloudbees.com/">Cloudbees</a> - For providing
            the Java web hosting</li>
        <li><a target="_new"  href="http://www.playframework.org/">Play Framework</a> - For
            providing the web framework</li>
        <li><a target="_new"  href="http://www.960.gs/">960.gs</a> - For
            providing the css framework</li>
    </ul>
    <p>
        <a target="_new" href="http://www.playframework.org">
            <img alt="" src="http://download.playframework.org/graphics/badges/badge-green.png"/>
        </a>
    </p>
</div>
<div class="grid_4"></div>
